body {
	position: relative;
	font-family: 'Open Sans', sans-serif;
}

nav.header {	
	width: 100%;
	height: 100px;
	// position: absolute;
	top: 0;
	z-index: 6;
	padding: 0 20px;

	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */

	img {
		width: 300px;
		margin-top: 20px;
	}

	.navigation {
		float: right;
		margin-top: 30px;
		li {
			display: inline-block;
			margin: 0 15px;

			a {
				text-decoration: none;
				text-transform: uppercase;
				font-size: 14px;
				color: #595959;
			}
		}
	}
}


.bannercontainer {
	width:100%;
	position:relative;
	padding:0;
	
	.banner{
		width:100%;
		position:relative;

		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				position: relative;
				img {
					width: 100%;
					-webkit-background-size: cover;
				}
			} 
		}

		img.laptop {
			position: absolute;
			bottom: 0;
			width: 100% !important;
			z-index: 2;
		}

		.content {
			position: absolute;
			width: 100%;
			bottom: 0;
			top: 110px;
			z-index: 4;
			
			.text {
				position: relative;
				float: right;
				margin-right: 40px;
				z-index: 4;
				h2 {
					text-transform: uppercase;
					color: #595959;
					font-weight: lighter;
				}

				p {
					width: 400px;
					color: #595959;
					display: block;
					font-weight: lighter;
					margin-bottom: 50px;
					span {
						font-style: italic;
					}
				}

			}

			

			.buttons {

				a {
					border: 1px solid #000;
					text-decoration: none;
					padding: 20px 40px;
					background-color: black;
					color: white;
					margin-right: 35px;
					-webkit-transition: background-color .3s linear, color .3s linear;
					-moz-transition: background-color .3s linear, color .3s linear;
					-ms-transition: background-color .3s linear, color .3s linear;
					transition: background-color .3s linear, color .3s linear;

					&:hover {
						background-color: transparent;
						color: #000;
					}
				}
			}
		}
	}
}
