body {
	font-family: "Avenir Next", sans-serif;
}

img.logo {
	width: 85px;
	position: absolute;
	right: 0;
	top: 0;
	margin-top: 20px;
}

.nav {
	
	list-style: none;
	margin-top: 35px;

	li {
		display: inline-block;
		margin: 0 40px;
		font-size: 20px;
		font-weight: bold;
		color: #2F3C4A;
		text-transform: uppercase;


		&:first-child {
			margin-left: 0;
		}
	}
}


.parallax-bg {
	background-image: url('../../img/store-background-1920.jpg');

	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	overflow: scroll;
	position: absolute; width: 104%; height: 103%;
	header {
		height: 20%;
	}

  	.wrapper {
  		height: 70%;

  		.picture-box {
  			background-image: url('http://placehold.it/300/588BC9/cccccc');
  			background-size: contain;
  			display: inline-block;
	  		height: 100%;
	  		border-radius: 20px;
	  		padding: 0;  		
	  	}

	  	.text-box {
	  		display: inline-block;
	  		position: absolute;
	  		bottom: 0;
	  		right: 0;
	  		// background-color: #4472b9;
	  		// color: #fff;
	  		border-radius: 20px;
			padding: 0;

			-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
			-moz-box-sizing: border-box;    /* Firefox, other Gecko */
			box-sizing: border-box;         /* Opera/IE 8+ */

			color: #d8ffff;
			border: 1px solid #0c4782;
			background: #5893ce;
			background: -moz-linear-gradient(top,  #5893ce 0%, #326da8 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5893ce), color-stop(100%, #326da8));
			background: -webkit-linear-gradient(top, #5893ce 0%, #326da8 100%);
			background: -o-linear-gradient(top, #5893ce 0%, #326da8 100%);
			background: -ms-linear-gradient(top, #5893ce 0%, #326da8 100%);
			background: linear-gradient(to bottom, #5893ce 0%, #326da8 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5893ce', endColorstr='#326da8', GradientType=0);
		
	  	}
  	}

  	.mixed-box {
  		height: 200px;
  		margin-top: 70px;
		color: #d9ffe1;
		border: 1px solid #0d8515;
		background: #33ab3b;
		background: -moz-linear-gradient(top, #33ab3b 0%, #0d8515 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #33ab3b), color-stop(100%, #0d8515));
		background: -webkit-linear-gradient(top, #33ab3b 0%, #0d8515 100%);
		background: -o-linear-gradient(top, #33ab3b 0%, #0d8515 100%);
		background: -ms-linear-gradient(top, #33ab3b 0%, #0d8515 100%);
		background: linear-gradient(to bottom, #33ab3b 0%, #0d8515 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33ab3b', endColorstr='#0d8515', GradientType=0);
		border-radius: 20px;

		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;         /* Opera/IE 8+ */
	}
}


.text-container {
	text-align: left;
	display: block;
	padding: 25px;
}


footer {
	height: 120px;
	color: #ccc;
	font-size: 12px;
	text-align: center;
	border-top: 2px solid #31353a;
	background-color: #31353a;
	opacity: 0.7;

	background-image:-webkit-linear-gradient(top, #31353a, #2f3337);
    background-image:-moz-linear-gradient(top, #31353a, #2f3337);
    background-image:linear-gradient(top, #31353a, #2f3337);

    h1 {
    	padding: 0;
    	margin-top: 45px;
    }

    .social-btns {
    	padding: 0;
    	text-align: right;
    	position: absolute;
    	right: 0;
    	li {
    		margin: 0 20px;
    		display: inline-block;

    		&:last-child {
    			margin-right: 0;
    		}
    	}
    }
}















